body
{
    background-color: rgb(15, 15, 61);
    color:black;
    margin-bottom: 50px;
    
    
}

.wrapper
{
width: 1600px;
padding:0;
margin-left: auto;
margin-right: auto;
background-color: rgb(24, 24, 78);
}

.logo
{
    height: 70px;
    width: 1400px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

h1
{
    font-size: 18px;
    color:white;
}

#container
{
  width: 1400px;  
    margin-top: 20px;
  background-color: black;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
   
}

.o_mnie
{
padding: 20px;
width: 1400px;
background-color: rgb(54, 22, 85);
}

#foto
{
float: left;
margin-left: 0;
margin-top: 20px;

}

#opis
{
float: left;
width: 670px;
height:300px;
text-align: justify;
padding-left: 20px;
margin-top: 20px;
color: white;
font-size:20px;
}

h2
{
    font-size: 40px;
}

#kontakt
{
    width: 150px;
    float: right;
    font-size: 18px;
    margin-top: 10px;
    color: white;
}

.socials
{
    width: 450px;
    height: 40px;
    float: left;
    color: white;
    margin-top: 60px;
    text-align: center;
}

#fb
{
    font-size: 26px;
    color: rgb(122, 168, 35); 
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50;
    border: 2px solid black;
}

#linkedin
{
    font-size: 26px;
    color: red; 
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50;
    border: 2px solid black;
}

#github
{
    font-size: 26px;
    color: red; 
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50;
    border: 2px solid black;
}

#firma
{
    width: 1400px;
    height: 334px;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
    
}

#opisf
{
    background-color: black;
    font-size: 18px;
    color:white;
    width: 900px;
    height: 334px;
    float: left;
    padding: 30px;
    
}

#logo
{
        float: left;
        
}

#kn
{
    width: 1200px;
    float: left;
    background-color: rgb(24, 24, 21);
    padding-left: 10px;
    padding-top: 10px;
}

.projekty
{
    width: 1390;
    height: 550px;
    border: 2px solid black;
    background-color: gray;
}

#footer
{
    width: 1400px;
    height: 50px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: black;
    padding-top: 10px;
}

.nav
{
    width: 660px;
    height: 80px;
    border-radius:  50px ;
    border: 2px solid white;
    background-color: rgb(19, 19, 63);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    
}

#codeline1
{
    float: left;
    
    color: white;
    width: 208px;
    height: 76px;
    padding: 15px;
    margin-left: 30px;
    border-right: solid 1px white;
}


#omnie1
{
    float: left;
    
    color: white;
    width: 208px;
    height: 76px;
    padding: 15px;
    border-right: solid 1px white;
}


#projekty1
{
    float: left;
    
    color: white;
    width: 208px;
    height: 76px;
    padding: 15px;
}