body
{
    background-color: rgb(24, 24, 78);
    color:black;
    margin-bottom: 5px;
    margin-top: 10px;
}

.wrapper
{
    width: 1600px;
    padding:0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(24, 24, 78);
}

.logo
{
    height: 70px;
    width: 1400px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-bottom: 200px;
    margin-top: 10px;
}

h1
{
    font-size: 18px;
    color:white;
}

#container
{
  width: 1400px;  
  margin-top: 20px;
  background-color: rgb(24, 24, 78);
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.o_mnie
{
padding: 20px;
width: 1400px;
background-color: rgb(87, 66, 66);
margin-bottom: 50px;
border: 2px solid black;

}

#foto
{
float: left;
margin-left: 0;
margin-top: 20px;
}

#opis
{
    float: left;
    width: 670px;
    height:300px;
    text-align: justify;
    padding-left: 20px;
    margin-top: 20px;
    color: white;
    font-size:18px;
}

h2
{
    font-size: 40px;
}

#kontakt
{
    width: 150px;
    float: right;
    font-size: 18px;
    margin-top: 10px;
    color: white;
}

.socials
{
    width: 450px;
    height: 100px;
    float: left;
    color: white;
    margin-top: 30px;
    text-align: center;
}

#fb
{
    font-size: 26px;
    color: rgb(122, 168, 35); 
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    padding: 20px;
}

#linkedin
{
    font-size: 26px;
    color: red; 
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    padding: 20px;
}

#github
{
    font-size: 26px;
    color: red; 
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    padding: 20px;
}

#firma
{
    width: 1400px;
    height: 334px;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
    border: 2px solid black;
}

#opisf
{
    background-color: rgb(87, 66, 66);
    font-size: 18px;
    color:white;
    width: 900px;
    height: 330px;
    float: left;
    padding: 30px;
    border-right: 2px solid black;
}

#logo
{
    float: left;
}

#kn
{
    width: 1200px;
    float: left;
    background-color: rgb(24, 24, 21);
    padding-left: 10px;
    padding-top: 10px;
}

.projekty
{
    width: 1390;
    height: 450px;
    border: 2px solid black;
    background-color: gray;
    margin-bottom: 250px;
    background-color: rgb(87, 66, 66);
}

#footer
{
    width: 1400px;
    height: 50px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: black;
    padding-top: 10px;
    margin-bottom: 0px;
}

.nav
{
    width: 660px;
    height: 80px;
    border-radius:  50px ;
    border: 2px solid white;
    background-color: rgb(19, 19, 63);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
}

a:link 
{
    color: #fff;
	text-decoration: none;
}

#codeline1
{
    float: left;
    color: white;
    width: 208px;
    height: 76px;
    padding: 15px;
    margin-left: 30px;
    border-right: solid 1px white;
}


#omnie1
{
    float: left;
    color: white;
    width: 208px;
    height: 76px;
    padding: 15px;
    border-right: solid 1px white;
}


#projekty1
{
    float: left;
    color: white;
    width: 208px;
    height: 76px;
    padding: 15px;
}


.sticky
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0; 
    z-index: 100;
    margin-top: 700px;
}

#test
{
    margin-bottom: 100px;
    background-color:rgb(24, 24, 78);
    color:  rgb(24, 24, 78);
}

#test2
{
    margin-top: 250px;
    margin-bottom: 50px;
    background-color:rgb(24, 24, 78);
    color:  rgb(24, 24, 78);
}

h4
{
    font-size: 40px;
    color: white;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.projekts
{
    display: inline-block;
	width: 330px;
	text-align: center;
	padding: 5px;
    margin-left: 12px;
    margin-top: 30px;
    font-size: 18px;
    color: white;
    background-color:black;
}
.photo1
{
	position: relative;
}

.photo1 .link
{
	position: absolute;
	display: block;
	width: 320px;
	height: 65px;
	background-color: #111;
	left: 0px;
	bottom:0px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
    color: white;
    padding: 15px;
}

.photo1:hover .link
{
	opacity: 0.8;
    color: white;
    padding: 15px;
}

.photo2
{
	position: relative;
}

.photo2 .link
{
	position: absolute;
	display: block;
	width: 320px;
	height: 65px;
	background-color: #111;
	left: 0px;
	bottom:0px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
    color: white;
    padding: 15px;
}

.photo2:hover .link
{
	opacity: 0.8;
    color: white;
    padding: 15px;
}


.photo3
{
	position: relative;
}

.photo3 .link
{
	position: absolute;
	display: block;
	width: 320px;
	height: 65px;
	background-color: #111;
	left: 0px;
	bottom:0px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
    color: white;
    padding: 15px;
}

.photo3:hover .link
{
	opacity: 0.8;
    color: white;
    padding: 15px;
}


.photo4
{
	position: relative;
	
}

.photo4 .link
{
	position: absolute;
	display: block;
	width: 320px;
	height: 65px;
	background-color: #111;
	left: 0px;
	bottom:0px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
    color: white;
    padding: 15px;
}

.photo4:hover .link
{
	opacity: 0.8;
    color: white;
    padding: 15px;
}
